@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --purple: hsl(277, 91%, 56%);
  --dark-navy: hsl(216, 25%, 25%);
  --navy: hsl(215, 27%, 32%);
  --grey-navy: hsl(219, 13%, 44%);
  --light-bluish: hsl(216, 47%, 78%);
  --light-grey: hsl(220, 38%, 97%);
  --pure-white: hsl(0, 0%, 100%);
  --green: hsl(151, 70%, 50%);
  --red: hsl(0, 82%, 63%);
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-regular-italic {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.rubik-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
  /* background-color: var(--navy); */
}
body {
  background: url(../assets/images/pattern-background-mobile-dark.svg) no-repeat
    var(--dark-navy);
  background-size: cover;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /* Mobile */
  padding-inline: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:has(img.hide) {
    /* Mobile */
    padding-block: 1.625rem;
  }

  &:has(img:not(.hide)) {
    /* Mobile */
    padding-block: 1rem 1rem;
  }
}

main {
  display: flex;
  flex-direction: column;

  /* Mobile */
  padding-block-start: 2rem;
}
#final-score-container {
  display: flex;
  flex-direction: column;
  background-color: var(--navy);
  align-items: center;
  border-radius: 0.75rem;
  /* Mobile */
  padding-block: 2rem;
  gap: 1rem;
  margin-block-end: 0.75rem;

  & > span {
    color: var(--pure-white);
    /* Mobile */
    font-size: 5.5rem;
    line-height: 1;
  }

  & > h2 {
    color: var(--light-bluish);
    /* Mobile */
    font-size: 1.125rem;
    line-height: 1;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* Mobile */
  padding-block-end: 2.5rem;

  & h1 {
    color: var(--pure-white);
    /* Mobile */
    font-size: 2.5rem;
    line-height: 1;
  }

  & h2 {
    color: var(--light-bluish);
    /* Mobile */
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
.subject-heading-container {
  display: flex;
  align-items: center;
  color: var(--pure-white);
  /* Mobile */
  font-size: 1.125rem;
  line-height: 1;
  text-transform: capitalize;
  gap: 1rem;

  & img {
    border-radius: 0.375rem;
    background-color: var(--pure-white);
    /* Mobile */
    width: 2.5rem;
    padding: 0.356875rem;
  }
  .hide {
    width: 0;
    padding: 0;
  }
}

/* Toggle Switch Start  */
label {
  transition: 0.5s ease;
  display: flex;
  cursor: pointer;

  /* Mobile */
  gap: 0.5rem;

  & > svg {
    /* Mobile */
    width: 1rem;
    height: 1rem;
    & > path {
      fill: var(--pure-white);
    }
  }
}

#toggle {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  background: var(--purple);
  border-radius: 62rem;

  /* Mobile */
  width: 2rem;
  height: 1.25rem;
}

.slider::before {
  position: absolute;
  content: "";
  background-color: var(--pure-white);
  transition: 0.4s;
  border-radius: 50%;

  /* Mobile */
  height: 0.75rem;
  width: 0.75rem;
  right: 0.25rem;
  top: 0.25rem;
}

#toggle + .slider:hover {
  background: var(--purple);
}

#toggle:checked + .slider::before {
  /* Mobile */
  transform: translateX(-0.75rem);
}

/* Toggle Switch end  */

#subjects-form,
#choice-form {
  display: flex;
  flex-direction: column;
  color: var(--pure-white);
  /* Mobile */
  font-size: 1.125rem;
  gap: 0.75rem;
  line-height: 1;

  & label {
    background-color: var(--navy);
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    /* Mobile */
    gap: 1rem;

    & input[type="radio"] {
      display: none;
    }

    & img {
      border-radius: 0.375rem;
      /* Mobile */
      margin-block: 0.75rem;
      margin-inline: 0.75rem;
      width: 2.5rem;
      padding: 0.356875rem;
    }

    &:first-child > img {
      background-color: #fff1e9;
    }
    &:nth-child(2) > img {
      background-color: #e0fdef;
    }
    &:nth-child(3) > img {
      background-color: #ebf0ff;
    }
    &:nth-child(4) > img {
      background-color: #f6e7ff;
    }

    &:is(:active, :hover) {
      border: 1px solid var(--purple);
    }
  }
}

#choice-form {
  gap: 0.5625rem;
  & > label > span:first-of-type {
    background-color: var(--pure-white);
    color: var(--grey-navy);
    border-radius: 0.375rem;
    /* Mobile */
    margin-block: 0.75rem;
    margin-inline-start: 0.75rem;
    width: 2.5rem;
    padding-inline: 0.875rem;
    padding-block: 0.6875rem;
  }

  & input:is(:checked) + span {
    background-color: var(--purple);
    color: var(--pure-white);
  }
  .correct > input:is(:checked) + span {
    background-color: var(--green);
    color: var(--pure-white);
  }
  .incorrect > input:is(:checked) + span {
    background-color: var(--red);
    color: var(--pure-white);
  }

  & label {
    border: 0.1875rem solid transparent;

    &:is(:active, :hover) {
      border: 0.1875rem solid var(--purple);
    }
    .correct-img.correct-img {
      margin-inline-start: auto;
      background-color: transparent;
    }
  }

  & label:has(input:checked) {
    border: 0.1875rem solid var(--purple);
  }
  .correct:has(input:checked) {
    border: 0.1875rem solid var(--green);

    & > img {
      margin-inline-start: auto;
      background-color: transparent;
    }
  }

  .incorrect:has(input:checked) {
    border: 0.1875rem solid var(--red);
    & > img {
      margin-inline-start: auto;
      background-color: transparent;
    }
  }
}

#no-answer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Mobile */
  gap: 0.5rem;
  font-size: 1.125rem;
  line-height: 1;
  & > img {
    /* Mobile */
    width: 2rem;
  }

  &.hide {
    display: none;
  }
}

progress {
  -webkit-appearance: none;

  /* Mobile */
  width: 100%;
  height: 1rem;
  margin-block-end: 2.5rem;
}
::-webkit-progress-bar {
  background-color: var(--navy);
  /* Mobile */
  border-radius: 62.4375rem;
  padding: 0.25rem;
}

::-webkit-progress-value {
  background-color: var(--purple);
  /* Mobile */
  max-height: 0.5rem;
  border-radius: 6.5rem;
}
.question-header {
  display: flex;
  flex-direction: column;
  /* Mobile */
  gap: 0.75rem;
  padding-block-end: 1.5rem;
  & h2 {
    color: var(--light-bluish);
    /* Mobile */
    font-size: 0.875rem;
    line-height: 1.5;
  }

  & p {
    color: var(--pure-white);
    /* Mobile */
    font-size: 1.25rem;
    line-height: 1.2;
  }
}
#submit-btn,
#play-again-btn {
  color: var(--pure-white);
  background-color: var(--purple);
  border-radius: 0.75rem;
  text-align: center;

  /* Mobile */
  font-size: 1.125rem;
  line-height: 1;
  padding-block: 1.1875rem;
  /* padding-inline: 0.75rem; */

  &:hover {
    cursor: pointer;
  }
}

#quiz-complete-container {
  display: flex;
  flex-direction: column;
}
