@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --purple: hsl(277, 91%, 56%);
  --dark-navy: hsl(216, 25%, 25%);
  --navy: hsl(215, 27%, 32%);
  --grey-navy: hsl(219, 13%, 44%);
  --light-bluish: hsl(216, 47%, 78%);
  --light-grey: hsl(220, 38%, 97%);
  --pure-white: hsl(0, 0%, 100%);
  --green: hsl(151, 70%, 50%);
  --red: hsl(0, 82%, 63%);

  --body-bg: var(--dark-navy);
  --option-bg: var(--navy);
  --option-text: var(--pure-white);
  --sub-heading: var(--light-bluish);
  --icon: var(--pure-white);
  --choice-bg: var(--pure-white);
}

:root.light-mode {
  --body-bg: var(--light-grey);
  --option-bg: var(--pure-white);
  --option-text: var(--dark-navy);
  --sub-heading: var(--grey-navy);
  --icon: var(--grey-navy);
  --choice-bg: var(--light-grey);
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-regular-italic {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.rubik-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}
body {
  background: url(../assets/images/pattern-background-mobile-dark.svg) no-repeat
    var(--body-bg);
  background-size: contain;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  padding-inline: clamp(1.5rem, -0.8855rem + 10.1781vw, 4rem);
}

.light-mode > body {
  background: url(../assets/images/pattern-background-mobile-light.svg)
    no-repeat var(--body-bg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:has(img.hide) {
    padding-block: clamp(1.625rem, -0.0448rem + 7.1247vw, 3.375rem)
      clamp(1.625rem, 1.3268rem + 1.2723vw, 1.9375rem);
  }

  &:has(img:not(.hide)) {
    padding-block: clamp(1rem, -0.4313rem + 6.1069vw, 2.5rem)
      clamp(1rem, 0.9404rem + 0.2545vw, 1.0625rem);

    padding-block: 2.5rem 1.0625rem;
    padding-block: 5.1875rem 3.3125rem;
  }
}

main {
  display: flex;
  flex-direction: column;

  padding-block-start: 2rem;
}
#final-score-container {
  display: flex;
  flex-direction: column;
  background-color: var(--option-bg);
  align-items: center;
  border-radius: 0.75rem;

  padding-block: clamp(2rem, 1.0458rem + 4.0712vw, 3rem);
  gap: 1rem;
  margin-block-end: clamp(0.75rem, -0.4427rem + 5.0891vw, 2rem);

  & > span {
    color: var(--option-text);

    font-size: clamp(5.5rem, 2.1603rem + 14.2494vw, 9rem);
    line-height: 1;
    margin-block-start: clamp(0rem, -2.3855rem + 10.1781vw, 2.5rem);
  }

  & > h2 {
    color: var(--sub-heading);
    font-size: clamp(1.125rem, 0.7672rem + 1.5267vw, 1.5rem);
    line-height: 1;
  }
}

.header-container {
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding-block-end: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);

  & h1 {
    color: var(--option-text);
    font-size: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);
    line-height: 1;
  }

  & h2 {
    color: var(--sub-heading);
    font-size: clamp(0.875rem, 0.5172rem + 1.5267vw, 1.25rem);
    line-height: 1.5;
  }
}
.subject-heading-container {
  display: flex;
  align-items: center;
  color: var(--option-text);
  text-transform: capitalize;

  font-size: clamp(1.125rem, 0.5286rem + 2.5445vw, 1.75rem);
  line-height: 1;
  gap: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);

  & img {
    border-radius: 0.375rem;
    width: 2.5rem;
    padding: 0.356875rem;
  }
  .hide {
    width: 0;
    padding: 0;
  }
}

/* Toggle Switch Start  */
label {
  transition: 0.5s ease;
  display: flex;
  cursor: pointer;

  gap: 0.5rem;

  & > svg {
    width: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
    height: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
    & > path {
      fill: var(--icon);
    }
  }
}

#toggle {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  background: var(--purple);
  border-radius: 62rem;
  width: clamp(2rem, 1.0458rem + 4.0712vw, 3rem);
  height: clamp(1.25rem, 0.7729rem + 2.0356vw, 1.75rem);
}

.slider::before {
  position: absolute;
  content: "";
  background-color: var(--pure-white);
  transition: 0.4s;
  border-radius: 50%;

  height: clamp(0.75rem, 0.2729rem + 2.0356vw, 1.25rem);
  width: clamp(0.75rem, 0.2729rem + 2.0356vw, 1.25rem);
  right: 0.25rem;
  top: 0.25rem;
}

#toggle + .slider:hover {
  background: var(--purple);
}

#toggle:checked + .slider::before {
  transform: translateX(clamp(-1.25rem, -0.2729rem + -2.0356vw, -0.75rem));
}

/* Toggle Switch end  */

#subjects-form,
#choice-form {
  display: flex;
  flex-direction: column;
  color: var(--option-text);
  min-width: fit-content;

  font-size: clamp(1.125rem, 0.5286rem + 2.5445vw, 1.75rem);
  gap: clamp(0.75rem, 0.0344rem + 3.0534vw, 1.5rem);
  line-height: 1;

  & label {
    background-color: var(--option-bg);

    min-width: 0;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    border: 1px solid transparent;

    gap: clamp(1rem, 0.0458rem + 4.0712vw, 2rem);

    & input[type="radio"] {
      display: none;
    }

    & img {
      border-radius: 0.375rem;
      margin-block: 0.75rem;
      margin-inline: 0.75rem;
      width: clamp(2.5rem, 1.5458rem + 4.0712vw, 3.5rem);
      padding: clamp(0.3569rem, 0.2203rem + 0.5827vw, 0.5rem);
    }

    &:is(:active, :hover) {
      border: 1px solid var(--purple);
    }
  }
}

#html-img {
  background-color: #fff1e9;
}
#css-img {
  background-color: #e0fdef;
}
#js-img {
  background-color: #ebf0ff;
}
#access-img {
  background-color: #f6e7ff;
}
#choice-form {
  gap: clamp(0.5625rem, -0.3321rem + 3.8168vw, 1.5rem);

  & > label > span:first-of-type {
    background-color: var(--choice-bg);
    color: var(--grey-navy);
    color: var(--grey-navy);
    border-radius: 0.375rem;

    margin-block: 0.75rem;
    margin-inline-start: 0.75rem;
    width: clamp(2.5rem, 1.5458rem + 4.0712vw, 3.5rem);
    padding-inline: clamp(0.875rem, 0.6365rem + 1.0178vw, 1.125rem);
    padding-block: clamp(0.6875rem, 0.5086rem + 0.7634vw, 0.875rem);
  }

  & input:is(:checked) + span {
    background-color: var(--purple);
    color: var(--pure-white);
  }
  .correct > input:is(:checked) + span {
    background-color: var(--green);
    color: var(--pure-white);
  }
  .incorrect > input:is(:checked) + span {
    background-color: var(--red);
    color: var(--pure-white);
  }

  & label {
    border: 0.1875rem solid transparent;

    &:is(:active, :hover) > span:first-of-type {
      /* border: 0.1875rem solid var(--purple); */
      color: var(--purple);
      background-color: #f6e7ff;
    }
    &:is(:active, :hover) {
      border: 0.1875rem solid transparent;
    }

    .correct-img.correct-img {
      margin-inline-start: auto;
      background-color: transparent;
    }
  }

  & label:has(input:checked) {
    border: 0.1875rem solid var(--purple);
  }
  .correct:has(input:checked) {
    border: 0.1875rem solid var(--green);

    & > img {
      margin-inline-start: auto;
      background-color: transparent;
    }
  }

  .incorrect:has(input:checked) {
    border: 0.1875rem solid var(--red);
    & > img {
      margin-inline-start: auto;
      background-color: transparent;
    }
  }
}

#no-answer {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
  font-size: 1.125rem;
  line-height: 1;

  & > img {
    width: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
  }

  &.hide {
    display: none;
  }
}

progress {
  -webkit-appearance: none;

  width: 100%;
  height: 1rem;
  margin-block-end: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);
}
::-webkit-progress-bar {
  background-color: var(--option-bg);
  border-radius: 62.4375rem;
  padding: 0.25rem;
}

::-webkit-progress-value {
  background-color: var(--purple);
  max-height: 0.5rem;
  border-radius: 6.5rem;
}
.question-header {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, -0.1446rem + 3.8168vw, 1.6875rem);
  padding-block-end: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);

  & h2 {
    color: var(--sub-heading);
    font-size: clamp(0.875rem, 0.5172rem + 1.5267vw, 1.25rem);
    line-height: 1.5;
  }

  & p {
    color: var(--option-text);
    font-size: clamp(1.25rem, 0.2958rem + 4.0712vw, 2.25rem);
    line-height: 1.2;
  }
}
#submit-btn,
#play-again-btn {
  color: var(--pure-white);
  background-color: var(--purple);
  border-radius: 0.75rem;
  text-align: center;
  font-size: clamp(1.125rem, 0.5286rem + 2.5445vw, 1.75rem);
  line-height: 1;
  padding-block: clamp(1.1875rem, 0.4122rem + 3.3079vw, 2rem);

  &:hover {
    cursor: pointer;
    background-color: color-mix(in hsl, var(--purple) 50%, var(--pure-white));
  }
}

#quiz-complete-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 48rem) {
  body {
    background: url(../assets/images/pattern-background-tablet-dark.svg)
      no-repeat var(--body-bg);

    padding-inline: clamp(4rem, -1.4286rem + 11.3095vw, 8.75rem);
  }

  header {
    &:has(img.hide) {
      padding-block: clamp(3.375rem, 0.3036rem + 6.3988vw, 6.0625rem)
        clamp(1.9375rem, -0.6339rem + 5.3571vw, 4.1875rem);
    }

    &:has(img:not(.hide)) {
      padding-block: clamp(2.5rem, -0.5714rem + 6.3988vw, 5.1875rem)
        clamp(1.0625rem, -1.5089rem + 5.3571vw, 3.3125rem);
    }
  }
  .header-container {
    width: 46ch;

    gap: clamp(1rem, -1.2857rem + 4.7619vw, 3rem);
    padding-block-end: 4rem;
  }

  .light-mode > body {
    background: url(../assets/images/pattern-background-tablet-light.svg)
      no-repeat var(--body-bg);
  }

  progress {
    margin-block-end: clamp(0rem, 8.5714rem + -9.5238vw, 4rem);
  }
  #no-answer {
    gap: 0.5rem;
    font-size: clamp(1.125rem, 0.6964rem + 0.8929vw, 1.5rem);
    line-height: 1;
  }
}

@media (min-width: 90rem) {
  body {
    background: url(../assets/images/pattern-background-desktop-dark.svg)
      no-repeat var(--body-bg);
    background-size: cover;
  }
  .light-mode > body {
    background: url(../assets/images/pattern-background-desktop-light.svg)
      no-repeat var(--body-bg);
  }
  #content-area {
    display: grid;
    gap: 0 8.1875rem;
    grid-template-columns: max-content;
    grid-template-areas:
      "header choices"
      "bar  choices";
  }

  .header-container {
    grid-area: header;
  }

  #subjects-form {
    grid-area: choices;
  }

  .question-header {
    grid-area: header;
    width: 47ch;
  }
  #progressbar {
    grid-area: bar;
  }

  #choice-form {
    grid-area: choices;
  }

  #final-score-container {
    grid-area: choices;
  }

  #no-answer {
    line-height: 1.5;
  }
}
