@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --purple: hsl(277, 91%, 56%);
  --dark-navy: hsl(216, 25%, 25%);
  --navy: hsl(215, 27%, 32%);
  --grey-navy: hsl(219, 13%, 44%);
  --light-bluish: hsl(216, 47%, 78%);
  --light-grey: hsl(220, 38%, 97%);
  --pure-white: hsl(0, 0%, 100%);
  --green: hsl(151, 70%, 50%);
  --red: hsl(0, 82%, 63%);

  --body-bg: var(--dark-navy);
  --option-bg: var(--navy);
  --option-text: var(--pure-white);
  --sub-heading: var(--light-bluish);
  --icon: var(--pure-white);
  --choice-bg: var(--pure-white);
}

:root.light-mode {
  /* --pure-white: hsl(0, 0%, 100%);
  --light-grey: hsl(220, 38%, 97%);
  --dark-navy: hsl(216, 25%, 25%);
  --grey-navy: hsl(219, 13%, 44%); */

  --body-bg: var(--light-grey);
  --option-bg: var(--pure-white);
  --option-text: var(--dark-navy);
  --sub-heading: var(--grey-navy);
  --icon: var(--grey-navy);
  --choice-bg: var(--light-grey);
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.rubik-regular-italic {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.rubik-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}
body {
  background: url(../assets/images/pattern-background-mobile-dark.svg) no-repeat
    var(--body-bg);
  background-size: contain;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  padding-inline: clamp(1.5rem, -0.8855rem + 10.1781vw, 4rem);
  /* Mobile */
  /* padding-inline: 1.5rem; */
  /* Tablet */
  /* padding-inline: 4rem; */
  /* Desktop */
  /* padding-inline: 8.75rem; */
}

.light-mode > body {
  background: url(../assets/images/pattern-background-mobile-light.svg)
    no-repeat var(--body-bg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:has(img.hide) {
    /* Mobile */
    padding-block: 1.625rem;
    /* Tablet */
    padding-block: 3.375rem 1.9375rem;
    /* Desktop */
    padding-block: 6.0625rem 4.1875rem;
  }

  &:has(img:not(.hide)) {
    /* Mobile */
    padding-block: 1rem 1rem;
    /* TAblet */
    padding-block: 2.5rem 1.0625rem;
    /* Desktop */
    padding-block: 5.1875rem 3.3125rem;
  }
}

main {
  display: flex;
  flex-direction: column;

  /* Mobile */
  padding-block-start: 2rem;
}
#final-score-container {
  display: flex;
  flex-direction: column;
  background-color: var(--option-bg);
  align-items: center;
  border-radius: 0.75rem;
  /* Mobile */
  padding-block: 2rem;
  gap: 1rem;
  margin-block-end: 0.75rem;
  /* Tablet*/
  padding-block: 3rem;
  gap: 1rem;
  margin-block-end: 2rem;

  & > span {
    color: var(--option-text);
    /* Mobile */
    font-size: 5.5rem;
    line-height: 1;
    /* Tablet*/
    font-size: 9rem;
    line-height: 1;
    margin-block-start: 2.5rem;
  }

  & > h2 {
    color: var(--sub-heading);
    /* Mobile */
    font-size: 1.125rem;
    line-height: 1;
    /* Tablet */
    font-size: 1.5rem;
    line-height: 1;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  /* Mobile */
  gap: 1rem;
  padding-block-end: 2.5rem;
  /* Tablet */
  gap: 1rem;
  padding-block-end: 4rem;
  /* Tablet */
  gap: 3rem;
  padding-block-end: 4rem;

  & h1 {
    color: var(--option-text);
    /* Mobile */
    font-size: 2.5rem;
    line-height: 1;
    /* Tablet */
    font-size: 4rem;
    line-height: 1;
  }

  & h2 {
    color: var(--sub-heading);
    /* Mobile */
    font-size: 0.875rem;
    line-height: 1.5;
    /* Tablet */
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
.subject-heading-container {
  display: flex;
  align-items: center;
  color: var(--option-text);
  text-transform: capitalize;
  /* Mobile */
  font-size: 1.125rem;
  line-height: 1;
  gap: 1rem;
  /* Mobile */
  font-size: 1.75rem;
  line-height: 1;
  gap: 1.5rem;

  & img {
    border-radius: 0.375rem;
    /* Mobile */
    width: 2.5rem;
    padding: 0.356875rem;
  }
  .hide {
    width: 0;
    padding: 0;
  }
}

/* Toggle Switch Start  */
label {
  transition: 0.5s ease;
  display: flex;
  cursor: pointer;

  /* Mobile */
  gap: 0.5rem;

  & > svg {
    /* Mobile */
    width: 1rem;
    height: 1rem;
    /* Tablet */
    width: 1.5rem;
    height: 1.5rem;
    & > path {
      fill: var(--icon);
    }
  }
}

#toggle {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  background: var(--purple);
  border-radius: 62rem;

  /* Mobile */
  width: 2rem;
  height: 1.25rem;
  /* Tablet */
  width: 3rem;
  height: 1.75rem;
}

.slider::before {
  position: absolute;
  content: "";
  background-color: var(--pure-white);
  transition: 0.4s;
  border-radius: 50%;

  /* Mobile */
  height: 0.75rem;
  width: 0.75rem;
  right: 0.25rem;
  top: 0.25rem;
  /* Mobile */
  height: 1.25rem;
  width: 1.25rem;
  right: 0.25rem;
  top: 0.25rem;
}

#toggle + .slider:hover {
  background: var(--purple);
}

#toggle:checked + .slider::before {
  /* Mobile */
  transform: translateX(-0.75rem);
  /* Tablet */
  transform: translateX(-1.25rem);
}

/* Toggle Switch end  */

#subjects-form,
#choice-form {
  display: flex;
  flex-direction: column;
  color: var(--option-text);
  min-width: fit-content;
  /* Mobile */
  font-size: 1.125rem;
  gap: 0.75rem;
  line-height: 1;
  /* TAblet */
  font-size: 1.75rem;
  gap: 1.5rem;
  line-height: 1;

  & label {
    background-color: var(--option-bg);

    min-width: 0;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    border: 1px solid transparent;

    /* Mobile */
    gap: 1rem;
    /* Tablet */
    gap: 2rem;

    & input[type="radio"] {
      display: none;
    }

    & img {
      border-radius: 0.375rem;
      /* Mobile */
      margin-block: 0.75rem;
      margin-inline: 0.75rem;
      width: 2.5rem;
      padding: 0.356875rem;
      /* Tablet */
      margin-block: 0.75rem;
      margin-inline: 0.75rem;
      width: 3.5rem;
      padding: 0.5rem;
    }

    &:is(:active, :hover) {
      border: 1px solid var(--purple);
    }
  }
}

#html-img {
  background-color: #fff1e9;
}
#css-img {
  background-color: #e0fdef;
}
#js-img {
  background-color: #ebf0ff;
}
#access-img {
  background-color: #f6e7ff;
}
#choice-form {
  /* Mobile */
  gap: 0.5625rem;
  /* Tablet */
  gap: 1.5rem;
  & > label > span:first-of-type {
    background-color: var(--choice-bg);
    color: var(--grey-navy);
    color: var(--grey-navy);
    border-radius: 0.375rem;
    /* Mobile */
    margin-block: 0.75rem;
    margin-inline-start: 0.75rem;
    width: 2.5rem;
    padding-inline: 0.875rem;
    padding-block: 0.6875rem;
    /* Tablet */
    margin-block: 0.75rem;
    margin-inline-start: 0.75rem;
    width: 3.5rem;
    padding-inline: 1.125rem;
    padding-block: 0.875rem;
  }

  & input:is(:checked) + span {
    background-color: var(--purple);
    color: var(--pure-white);
  }
  .correct > input:is(:checked) + span {
    background-color: var(--green);
    color: var(--pure-white);
  }
  .incorrect > input:is(:checked) + span {
    background-color: var(--red);
    color: var(--pure-white);
  }

  & label {
    border: 0.1875rem solid transparent;

    &:is(:active, :hover) {
      border: 0.1875rem solid var(--purple);
    }
    .correct-img.correct-img {
      margin-inline-start: auto;
      background-color: transparent;
    }
  }

  & label:has(input:checked) {
    border: 0.1875rem solid var(--purple);
  }
  .correct:has(input:checked) {
    border: 0.1875rem solid var(--green);

    & > img {
      margin-inline-start: auto;
      background-color: transparent;
    }
  }

  .incorrect:has(input:checked) {
    border: 0.1875rem solid var(--red);
    & > img {
      margin-inline-start: auto;
      background-color: transparent;
    }
  }
}

#no-answer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Mobile */
  gap: 0.5rem;
  font-size: 1.125rem;
  line-height: 1;
  /* Desktop */
  gap: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  & > img {
    /* Mobile */
    width: 2rem;
    /* Desktop */
    width: 2.5rem;
  }

  &.hide {
    display: none;
  }
}

progress {
  -webkit-appearance: none;

  /* Mobile */
  width: 100%;
  height: 1rem;
  margin-block-end: 2.5rem;
  /* Tablet */
  width: 100%;
  height: 1rem;
  margin-block-end: 4rem;
  /* Desktop */
  width: 100%;
  height: 1rem;
  margin-block-end: 0rem;
}
::-webkit-progress-bar {
  background-color: var(--option-bg);
  /* Mobile */
  border-radius: 62.4375rem;
  padding: 0.25rem;
}

::-webkit-progress-value {
  background-color: var(--purple);
  /* Mobile */
  max-height: 0.5rem;
  border-radius: 6.5rem;
}
.question-header {
  display: flex;
  flex-direction: column;
  /* Mobile */
  gap: 0.75rem;
  padding-block-end: 1.5rem;
  /* Tablet */
  gap: 1.6875rem;
  padding-block-end: 2.5rem;
  & h2 {
    color: var(--sub-heading);
    /* Mobile */
    font-size: 0.875rem;
    line-height: 1.5;
    /* Mobile */
    font-size: 1.25rem;
    line-height: 1.5;
  }

  & p {
    color: var(--option-text);
    /* Mobile */
    font-size: 1.25rem;
    line-height: 1.2;
    /* Mobile */
    font-size: 2.25rem;
    line-height: 1.2;
  }
}
#submit-btn,
#play-again-btn {
  color: var(--pure-white);
  background-color: var(--purple);
  border-radius: 0.75rem;
  text-align: center;

  /* Mobile */
  font-size: 1.125rem;
  line-height: 1;
  padding-block: 1.1875rem;
  /* Tablet */
  font-size: 1.75rem;
  line-height: 1;
  padding-block: 2rem;

  &:hover {
    cursor: pointer;
    background-color: color-mix(in hsl, var(--purple) 50%, var(--pure-white));
  }
}

#quiz-complete-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 48rem) {
  body {
    background: url(../assets/images/pattern-background-tablet-dark.svg)
      no-repeat var(--body-bg);

    padding-inline: clamp(4rem, -1.4286rem + 11.3095vw, 8.75rem);

    /* Tablet */
    /* padding-inline: 4rem; */
    /* Desktop */
    /* padding-inline: 8.75rem; */
  }
  .header-container {
    width: 46ch;
  }

  .light-mode > body {
    background: url(../assets/images/pattern-background-tablet-light.svg)
      no-repeat var(--body-bg);
  }
}

@media (min-width: 90rem) {
  body {
    background: url(../assets/images/pattern-background-desktop-dark.svg)
      no-repeat var(--body-bg);
    background-size: cover;
  }
  .light-mode > body {
    background: url(../assets/images/pattern-background-desktop-light.svg)
      no-repeat var(--body-bg);
  }
  #content-area {
    display: grid;
    gap: 0 8.1875rem;
    grid-template-columns: max-content;
    grid-template-areas:
      "header choices"
      "bar  choices";
  }

  .header-container {
    grid-area: header;
  }

  #subjects-form {
    grid-area: choices;
  }

  .question-header {
    grid-area: header;
    width: 47ch;
  }
  #progressbar {
    grid-area: bar;
  }

  #choice-form {
    grid-area: choices;
  }

  #final-score-container {
    grid-area: choices;
  }

  #quiz-complete-container {
    /* align-self: center; */
    /* width: 35.25rem; */
  }
}
